.state
  .container
    .progress
      .progress-bar.progress-bar-success{style: "width: #{project.percentage_raised}%; min-width: 2em; text-align: left;"}
        &nbsp;
        = "#{project.percentage_raised}%"
    .subtitle
      .row
        .col-xs-6.col-sm-4
          %h1= "#{project.percentage_raised}%"
          given of goal
        .col-xs-3.col-sm-3
          %h1= project.donations.count
          backers
        .col-xs-3.col-sm-3
          %h1= project.days_until
          days to go
