.intro
  .container
    .row
      .col-sm-6
        = image_tag 'otj.png', height: 250
      .col-sm-6
        %br
        %h2
          Summer Projects with Student Life
          %br
        %p.copy
          See the Summer Projects we are sending and partner with students as they Go!
          %br
          %br
.content
  .container
    .row
      - projects.each_with_index do |project, index|
        %a{href: project_path(id: project.slug)}
          .col-sm-6.project-container
            .project{class: "color#{index % 5}"}
              %h1= project.title
              %h2
                = "#{pluralize project.designations.count, 'person'}"
                going
                - if project.date
                  on the
                  = project.date.strftime("#{project.date.day.ordinalize} %b %Y")
                - else
                  soon
              %span.btn.btn-primary.btn-light.btn-lg
                = fa_icon 'angle-right'
                Find out more
