= render 'search'
= render 'top'
= render 'state'
.content
  .container
    - unless project.description.blank?
      %h2
        What is
        ="#{project.title}?"
      = simple_format project.description_with_name('students')
    %h2= "#{pluralize project.designations.count, 'person'} going to #{project.title}"
    .going.clearfix
      .avatars
        - project.donees.order("RANDOM()").limit(10).each do |donee|
          %a{href: donee_path(donee)}
            %img{src: donee.large_image}
        - if project.designations.count > 10
          .additional
            = "+#{project.designations.count - 10}"
