= render 'top'
= render 'state'
.container
  .content
    %h2
      Thanks for partnering with
      = donee.first_name
      by praying and donating!
    %br
    %a.btn.btn-primary.btn-lg{href: new_donee_pledge_path(donee)}
      = fa_icon 'angle-right'
      Partner by Praying and Donating
    - if user_signed_in? && !pledges.blank?
      %br
      %br
      %h2 Giving History
      %table.table.table-striped
        %thead
        %tr
          %td #
          %td Amount
          %td Date Given
          %td Project
        %tbody
        - pledges.each_with_index do |pledge, index|
          %tr
            %td= index + 1
            %td= number_to_currency pledge.amount
            %td= pledge.created_at.strftime '%d/%m/%y'
            %td= pledge.project.try(:title)
= render 'help'
