= render 'top'
= render 'state'
.content
  .container
    %h2
      Thanks for partnering with
      = donee.first_name
      in prayer and finance!
    - if user_signed_in?
      = simple_form_for [donee, pledge], url: donee_pledges_path(donee, pledge) do |f|
        - if f.object.errors.any?
          .alert.alert-danger
            Your pledge form contains #{pluralize(f.object.errors.count, "error")}.
            %ul
              - f.object.errors.full_messages.each do |msg|
                %li
                  #{msg}
          %br
        %h3 Giving Details
        .details
          = f.input :amount
          = f.input :giving_method, as: :radio_buttons
        .text-right
          %small.text-muted Payments provided by
          %br
          = image_tag 'px_logo.png'
        %h3 Misc Details
        .details
          = f.input :newsletter, wrapper: :inline_checkbox, label: 'Receive Prayer Updates'
        .submit
          = f.button :submit, class: 'btn btn-primary', value: "Help #{donee.first_name}"
    - else
      %p In order to get started you'll need to sign in or sign up with an account.
= render 'help'
