= render 'top'
= render 'state'
.content
  .container
    %p
      Thanks for your interest in supporting
      = donee.first_name
      get to Summer Project!
    - if user_signed_in?
      = simple_form_for [donee, pledge], url: donee_pledges_path(donee, pledge, prayer_only: params['prayer_only']) do |f|
        - if f.object.errors.any?
          .alert.alert-danger
            Your pledge form contains #{pluralize(f.object.errors.count, "error")}.
            %ul
              - f.object.errors.full_messages.each do |msg|
                %li
                  #{msg}
          %br
        - unless params['prayer_only'] && params['prayer_only'] == 'true'
          %h3 Giving Details
          .details
            = f.input :amount
        - else
          = f.input :prayer_only, as: :hidden, input_html: { value: true }
        %h3 Misc Details
        .details
          = f.input :newsletter, wrapper: :inline_checkbox, label: 'Receive Prayer Newsletter'
        .submit
          = f.button :submit, class: 'btn btn-primary', value: "Help #{donee.first_name}"
    - else
      %h2
        Sign In or Sign Up
      %p
        By getting a giving account you can save information to speed up future giving. You can also see all your historic giving info. What are you waiting for? Get started by signing in or signing up.
      %a.btn-primary.btn-lg{href: new_user_session_path}
        = fa_icon 'angle-right'
        Sign In
      %a.btn-primary.btn-lg{href: new_user_registration_path}
        = fa_icon 'angle-right'
        Sign Up
