<p style="Margin-top: 0;text-rendering: optimizeLegibility;font-family: sans-serif;color: #60666d;Margin-bottom: 24px;font-size: 15px;line-height: 24px">
  Thanks for donating <%= number_to_currency @donation.amount %> to <%= @donee.name %>.
  Your partnership is a critical part of sending people like <%= @donee.first_name %> to Summer Project.
  We appreciate you partnering with us in an effort to fulfill the Great Commission.
</p>
<% if @project %>
<p style="Margin-top: 0;text-rendering: optimizeLegibility;font-family: sans-serif;color: #60666d;Margin-bottom: 24px;font-size: 15px;line-height: 24px">
  Currently you've helped <%= @donee.first_name %> to raise <%= @designation.percentage_raised %>%.
  That's <%= number_to_currency @designation.amount_raised, precision: 0 %> given of <%= number_to_currency @designation.goal, precision: 0 %>.
  <%= @donee.first_name %> has had <%= @designation.donations.count %> donations given for this project.
  There is <%= @project.days_until %> days to go until <%= @donee.first_name %> needs to report to <%= @project.name %>.
</p>
<% end %>
<%= render partial: 'button', locals: { text: "View #{@donee.first_name}'s Progress", link: donee_url(@donee) } %>
