- if project
  .help{class: "color0"}
    .container
      %h2= "How can #{'else ' unless current_page?(donee_path(donee))}you help #{donee.first_name}?"
      - unless params[:controller] == 'give/donees/pledges'
        %a.btn-primary.btn-lg{href: new_donee_pledge_path(donee)}
          = fa_icon 'angle-right'
          In Prayer and Finance
      - unless current_page?(donee_subscriptions_path(donee))
        %a.btn-primary.btn-lg{href: donee_subscriptions_path(donee)}
          = fa_icon 'angle-right'
          In Prayer
      - unless current_page?(about_donee_path(donee))
        %a.btn-primary.btn-lg{href: about_donee_path(donee)}
          = fa_icon 'angle-right'
          More Info
      - unless current_page?(donee_path(donee))
        %a.btn-primary.btn-lg{href: donee_path(donee)}
          = fa_icon 'angle-right'
          See Profile
