.state
  .container
    .progress
      .progress-bar.progress-bar-success{style: "width: #{designation.percentage_raised}%; min-width: 2em; text-align: left;"}
        &nbsp;
        = "#{designation.percentage_raised}%"
    .subtitle
      .row
        .col-md-4
          %h1= number_to_currency designation.amount_raised, precision: 0
          given of
          = number_to_currency designation.goal, precision: 0
          goal
        .col-md-3
          %h1= designation.donations.count
          backers
        .col-md-3
          %h1= project.days_until
          days to go
