- if project
  .state
    .container
      .progress
        .progress-bar.progress-bar-success{style: "width: #{designation.percentage_raised}%; min-width: 2em; text-align: left;"}
          &nbsp;
          = "#{designation.percentage_raised}%"
      .subtitle
        .row
          .col-xs-6.col-sm-4
            %h1= number_to_currency designation.amount_raised, precision: 0
            given of
            = number_to_currency designation.goal, precision: 0
            goal
          .col-xs-3.col-sm-3
            %h1= designation.donations.count
            backers
          .col-xs-3.col-sm-3
            %h1= project.days_until
            days to go
