= render 'top'
= render 'state'
- if project
  .content
    .container
      - unless project.description.blank?
        %h2
          What is
          ="#{project.title}?"
        = simple_format project.description_with_name(donee.first_name)
      - unless donee.description.blank?
        %h2
          Why do I want to go?
        = simple_format donee.description
        .disclaimer
          The views expressed above are strictly those of the author(s) and do not necessarily reflect Student Life.
      %h2
        = "#{pluralize project.designations.count - 1, 'other person'}"
        going to
        %a{href: project_path(id: project.slug)}
          = project.title
      .going.clearfix
        .avatars
          - project.donees.where.not(id: donee.id).order("RANDOM()").limit(5).each do |donee|
            %a
              %img{src: donee.large_image}
          - if project.designations.count > 5
            .additional
              = "+#{project.designations.count - 6}"
= render 'help'
