.give
  = render 'top_section'
  = render 'help'
  .content
    .block
      - unless @project.description.blank?
        %h2
          What is
          ="#{@project.title}?"
        = simple_format @project.description_with_name(@user.first_name)
      - unless @user.description.blank?
        %h2
          Why do I want to go?
        = simple_format @user.description
        .disclaimer
          The views expressed above are strictly those of the author(s) and do not necessarily reflect Student Life.
      .going
        = "#{pluralize @project.designations.count - 1, 'other person'} going to #{@project.title}"
        .avatars
          - @project.donees.where.not(id: @user.id).order("RANDOM()").limit(5).each do |user|
            %a{href: user_path(id: user.slug)}
              %img{src: user.image}
