= render 'top'
= render 'state'
.content
  .container
    %h2 Add A New Deposit
    = simple_form_for @deposit do |f|
      = render partial: 'form', locals: { f: f }
      .submit
        .pull-left
          = link_to "#{fa_icon 'angle-left'} Back".html_safe, deposits_path, class: 'btn btn-primary'
        = f.button :submit, class: 'btn btn-primary', value: "Add Deposit"
= render 'give_site'
