- if project
  .top{class: "color#{donee.id % 5}"}
    .container
      .avatar
        %img{src: donee.image}
      .profile
        %h2
          - if project.date
            On the
            = project.date.strftime("#{project.date.day.ordinalize} %b %Y")
          - else
            Not long now until
        %h1
          - if me?(donee)
            You are going to
          - else
            = donee.first_name
            is going to
          %a{href: project_url(id: project.slug)}
            = project.title
- else
  .top{class: "color#{donee.id % 5}"}
    .container
      .avatar
        %img{src: donee.image}
      .profile
        %h2
          - if me?(donee)
            You are not assigned to a Summer Project
          - else
            = donee.first_name
            isn't assigned to a Summer Project
        %h1
          = donee.name
